.styledDiv {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 10px;
    left: 25px;   
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 400;
}

.divBurger {
    width: 2rem;
    height: 0.25rem;
    background-color: #ccc;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
    z-index: 400;
}

@media (min-width: 760px) {
    .styledDiv {
        display: none;
    }
}